# Pandas
Pandas is a powerful Python library for data manipulation and analysis. It provides data structures like Series (1-dimensional) and DataFrame (2-dimensional) that allow you to work with structured data efficiently.
# Creating a Series

In [1]:
import pandas as pd

# Create a simple Series
s = pd.Series([1, 3, 5, 7, 9])

# Display the Series
print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

## DataFrame Creation
A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It's the most commonly used Pandas object and can be created from various data sources like dictionaries, lists, or NumPy arrays.

In [2]:
import pandas as pd

# Create a dictionary with some data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'San Francisco', 'London', 'Sydney']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# Display basic information about the DataFrame
print(df.info())

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35         London
3    David   28         Sydney
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes
None

## Data Selection and Indexing
Pandas provides various methods to select, filter, and access data in a DataFrame. You can select columns, rows, or specific cells based on labels or integer locations.

In [3]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
})

# Select a single column
print("Column 'A':")
print(df['A'])

# Select multiple columns
print("\nColumns 'A' and 'C':")
print(df[['A', 'C']])

# Select rows by index label
print("\nRows 1 to 3:")
print(df.loc[1:3])

# Select rows by integer location
print("\nRows 1 to 3 (by integer location):")
print(df.iloc[1:4])

# Select specific cells
print("\nValue at row 2, column 'B':")
print(df.loc[2, 'B'])

# Boolean indexing
print("\nRows where 'A' > 3:")
print(df[df['A'] > 3])

Column 'A':
0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

Columns 'A' and 'C':
   A    C
0  1  100
1  2  200
2  3  300
3  4  400
4  5  500

Rows 1 to 3:
   A   B    C
1  2  20  200
2  3  30  300
3  4  40  400

Rows 1 to 3 (by integer location):
   A   B    C
1  2  20  200
2  3  30  300
3  4  40  400

Value at row 2, column 'B':
30

Rows where 'A' > 3:
   A   B    C
3  4  40  400
4  5  50  500

## Data Cleaning and Preprocessing
Data cleaning is a crucial step in data analysis. Pandas provides various methods to handle missing values, remove duplicates, and transform data.

In [4]:
import pandas as pd
import numpy as np

# Create a DataFrame with some missing values and duplicates
df = pd.DataFrame({
    'A': [1, 2, np.nan, 4, 5, 5],
    'B': [5, 6, 7, np.nan, 9, 9],
    'C': ['a', 'b', 'c', 'd', 'e', 'e']
})

print("Original DataFrame:")
print(df)

# Handle missing values
df_filled = df.fillna(df.mean())
print("\nDataFrame with filled missing values:")
print(df_filled)

# Remove duplicates
df_no_dupes = df.drop_duplicates()
print("\nDataFrame with duplicates removed:")
print(df_no_dupes)

# Transform data: convert column A to integers and capitalize column C
df['A'] = df['A'].fillna(0).astype(int)
df['C'] = df['C'].str.upper()

print("\nTransformed DataFrame:")
print(df)

# Reset index after removing duplicates
df_reset = df_no_dupes.reset_index(drop=True)
print("\nDataFrame with reset index:")
print(df_reset)

Original DataFrame:
     A    B  C
0  1.0  5.0  a
1  2.0  6.0  b
2  NaN  7.0  c
3  4.0  NaN  d
4  5.0  9.0  e
5  5.0  9.0  e

DataFrame with filled missing values:
     A    B  C
0  1.0  5.0  a
1  2.0  6.0  b
2  3.4  7.0  c
3  4.0  7.2  d
4  5.0  9.0  e
5  5.0  9.0  e

DataFrame with duplicates removed:
     A    B  C
0  1.0  5.0  a
1  2.0  6.0  b
2  NaN  7.0  c
3  4.0  NaN  d
4  5.0  9.0  e

Transformed DataFrame:
   A    B  C
0  1  5.0  A
1  2  6.0  B
2  0  7.0  C
3  4  NaN  D
4  5  9.0  E
5  5  9.0  E

DataFrame with reset index:
     A    B  C
0  1.0  5.0  a
1  2.0  6.0  b
2  NaN  7.0  c
3  4.0  NaN  d
4  5.0  9.0  e

C:\Users\badrg\AppData\Local\Temp\ipykernel_17308\1870542798.py:15: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_filled = df.fillna(df.mean())

## Data Aggregation and Grouping
Data aggregation and grouping are powerful features in Pandas that allow you to compute summary statistics and perform operations on groups of data.

In [5]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A', 'C', 'C', 'B'],
    'Value': [10, 20, 30, 40, 50, 60, 70, 80],
    'Quantity': [1, 2, 3, 4, 5, 6, 7, 8]
})

print("Original DataFrame:")
print(df)

# Group by Category and compute various statistics
grouped = df.groupby('Category').agg({
    'Value': ['mean', 'sum', 'min', 'max'],
    'Quantity': ['sum', 'mean']
})

print("\nGrouped and aggregated data:")
print(grouped)

# Compute a custom aggregation
def range_calc(x):
    return x.max() - x.min()

custom_agg = df.groupby('Category').agg({
    'Value': range_calc
})

print("\nCustom aggregation (range of Values for each Category):")
print(custom_agg)

# Reset column names for better readability
grouped.columns = ['Value_Mean', 'Value_Sum', 'Value_Min', 'Value_Max', 'Quantity_Sum', 'Quantity_Mean']
grouped = grouped.reset_index()

print("\nGrouped data with reset column names:")
print(grouped)

Original DataFrame:
  Category  Value  Quantity
0        A     10         1
1        B     20         2
2        A     30         3
3        B     40         4
4        A     50         5
5        C     60         6
6        C     70         7
7        B     80         8

Grouped and aggregated data:
              Value              Quantity
               mean  sum min max      sum      mean
Category
A         30.000000   90  10  50        9  3.000000
B         46.666667  140  20  80       14  4.666667
C         65.000000  130  60  70       13  6.500000

Custom aggregation (range of Values for each Category):
          Value
Category
A            40
B            60
C            10

Grouped data with reset column names:
  Category  Value_Mean  Value_Sum  Value_Min  Value_Max  Quantity_Sum  \
0        A   30.000000         90         10         50             9
1        B   46.666667        140         20         80            14
2        C   65.000000        130         60         70            13

   Quantity_Mean
0       3.000000
1       4.666667
2       6.500000

## Merging and Joining DataFrames
Merging and joining are essential operations when working with multiple datasets. Pandas provides various methods to combine DataFrames based on common columns or indices.

In [6]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4, 5],
    'Salary': [50000, 60000, 55000, 65000],
    'Experience': [2, 5, 3, 6]
})

print("DataFrame 1 (Employee Info):")
print(df1)

print("\nDataFrame 2 (Salary Info):")
print(df2)

# Perform an inner join
inner_join = pd.merge(df1, df2, on='ID', how='inner')
print("\nInner Join:")
print(inner_join)

# Perform a left join
left_join = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_join)

# Perform a right join
right_join = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Join:")
print(right_join)

# Perform a full outer join
outer_join = pd.merge(df1, df2, on='ID', how='outer')
print("\nFull Outer Join:")
print(outer_join)

# Join on index
df1.set_index('ID', inplace=True)
df2.set_index('ID', inplace=True)
index_join = df1.join(df2, how='inner')
print("\nJoin on Index:")
print(index_join)

DataFrame 1 (Employee Info):
   ID     Name Department
0   1    Alice         HR
1   2      Bob         IT
2   3  Charlie    Finance
3   4    David  Marketing

DataFrame 2 (Salary Info):
   ID  Salary  Experience
0   2   50000           2
1   3   60000           5
2   4   55000           3
3   5   65000           6

Inner Join:
   ID     Name Department  Salary  Experience
0   2      Bob         IT   50000           2
1   3  Charlie    Finance   60000           5
2   4    David  Marketing   55000           3

Left Join:
   ID     Name Department   Salary  Experience
0   1    Alice         HR      NaN         NaN
1   2      Bob         IT  50000.0         2.0
2   3  Charlie    Finance  60000.0         5.0
3   4    David  Marketing  55000.0         3.0

Right Join:
   ID     Name Department  Salary  Experience
0   2      Bob         IT   50000           2
1   3  Charlie    Finance   60000           5
2   4    David  Marketing   55000           3
3   5      NaN        NaN   65000           6

Full Outer Join:
   ID     Name Department   Salary  Experience
0   1    Alice         HR      NaN         NaN
1   2      Bob         IT  50000.0         2.0
2   3  Charlie    Finance  60000.0         5.0
3   4    David  Marketing  55000.0         3.0
4   5      NaN        NaN  65000.0         6.0

Join on Index:
       Name Department  Salary  Experience
ID
2       Bob         IT   50000           2
3   Charlie    Finance   60000           5
4     David  Marketing   55000           3

## Time Series and Date Functionality
Pandas has powerful capabilities for working with time series data, including date parsing, resampling, and time-based indexing.

In [7]:
import pandas as pd
import numpy as np

# Create a date range
date_rng = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')

# Create a DataFrame with random data
df = pd.DataFrame(date_rng, columns=['date'])
df['value'] = np.random.randn(len(date_rng))

# Set the date as index
df.set_index('date', inplace=True)

print("Original DataFrame (first 5 rows):")
print(df.head())

# Resample to monthly frequency
monthly_mean = df.resample('M').mean()
print("\nMonthly mean:")
print(monthly_mean)

# Calculate rolling average
df['rolling_avg'] = df['value'].rolling(window=7).mean()

print("\nDataFrame with 7-day rolling average (last 5 rows):")
print(df.tail())

# Filter data for a specific date range
date_filter = df['2023-06-01':'2023-06-30']
print("\nData for June 2023:")
print(date_filter)

# Shift data
df['previous_day'] = df['value'].shift(1)
print("\nDataFrame with previous day's value (first 5 rows):")
print(df.head())

# Calculate year-to-date cumulative sum
df['ytd_cumsum'] = df.groupby(df.index.year)['value'].cumsum()
print("\nDataFrame with year-to-date cumulative sum (last 5 rows):")
print(df.tail())

Original DataFrame (first 5 rows):
               value
date
2023-01-01  2.472473
2023-01-02  0.226583
2023-01-03 -0.109806
2023-01-04 -0.581881
2023-01-05  0.173813

Monthly mean:
               value
date
2023-01-31 -0.384539
2023-02-28  0.091743
2023-03-31 -0.092267
2023-04-30 -0.262000
2023-05-31 -0.276148
2023-06-30  0.099764
2023-07-31 -0.293593
2023-08-31 -0.145879
2023-09-30 -0.109738
2023-10-31 -0.069448
2023-11-30 -0.193152
2023-12-31  0.267663

DataFrame with 7-day rolling average (last 5 rows):
               value  rolling_avg
date
2023-12-27 -0.972355     0.645893
2023-12-28 -1.134689     0.255776
2023-12-29  0.759711     0.239492
2023-12-30 -0.666436     0.302187
2023-12-31  0.134798     0.211342

Data for June 2023:
               value  rolling_avg
date
2023-06-01  1.296393    -0.026037
2023-06-02 -0.312324     0.076974
2023-06-03 -0.222838    -0.009860
2023-06-04  0.080788    -0.007043
2023-06-05  1.212477     0.241893
2023-06-06  0.582521     0.350037
2023-06-07 -2.565849     0.010167
2023-06-08  2.436084     0.172980
2023-06-09 -0.534884     0.141186
2023-06-10 -2.017797    -0.115237
2023-06-11  0.904102     0.002379
2023-06-12 -1.295982    -0.355972
2023-06-13  1.123692    -0.278662
2023-06-14  0.833909     0.207018
2023-06-15 -1.429986    -0.345278
2023-06-16  0.765013    -0.159578
2023-06-17  1.868387     0.395591
2023-06-18 -0.227511     0.233932
2023-06-19  0.424300     0.479686
2023-06-20 -0.116956     0.302451
2023-06-21 -0.359672     0.131939
2023-06-22  0.496905     0.407209
2023-06-23 -1.348571     0.105269
2023-06-24  0.211146    -0.131480
2023-06-25 -0.764424    -0.208182
2023-06-26 -0.140389    -0.288852
2023-06-27 -0.162464    -0.295353
2023-06-28  0.872386    -0.119344
2023-06-29 -0.519994    -0.264616
2023-06-30  1.904459     0.200103

DataFrame with previous day's value (first 5 rows):
               value  rolling_avg  previous_day
date
2023-01-01  2.472473          NaN           NaN
2023-01-02  0.226583          NaN      2.472473
2023-01-03 -0.109806          NaN      0.226583
2023-01-04 -0.581881          NaN     -0.109806
2023-01-05  0.173813          NaN     -0.581881

DataFrame with year-to-date cumulative sum (last 5 rows):
               value  rolling_avg  previous_day  ytd_cumsum
date
2023-12-27 -0.972355     0.645893      2.805299  -41.298956
2023-12-28 -1.134689     0.255776     -0.972355  -42.433645
2023-12-29  0.759711     0.239492     -1.134689  -41.673934
2023-12-30 -0.666436     0.302187      0.759711  -42.340369
2023-12-31  0.134798     0.211342     -0.666436  -42.205571